$background_color : black;

.right{
	text-align:right;
}

body{
	background: $background_color;
}

section.book{
	color: black;
	width: 60%;
	background: white;
	font-family: times, sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	font-size: 12pt;
	padding: 10px;
	border-radius: 12px;

	h1.book_title{
		font-size: 16pt;
	}
	
	div.spacer{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
}

section.navigation{
	color: black;
	width: 15%;
	position: fixed;
	top: 50px;
	right: 0px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	min-height: 200px;
	background: white;
}
